<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>secret</key>
	<string>6d5ab2dd04827bea</string>
	<key>key</key>
	<string>2c19e234e56cdb527c82cce28f0b41dc</string>
</dict>
</plist>
